In [8]:
import sqlalchemy

def connect(user, password, db, host='localhost', port=5432):
    '''Returns a connection and a metadata object'''
    # We connect with the help of the PostgreSQL URL
    # postgresql://federer:grandestslam@localhost:5432/tennis
    url = 'postgresql://{}:{}@{}:{}/{}'
    url = url.format(user, password, host, port, db)
    
    # The return value of create_engine() is our connection object
    con = sqlalchemy.create_engine(url, client_encoding='utf8')

    # We then bind the connection to MetaData()
    meta = sqlalchemy.MetaData(bind=con, reflect=True)

    return con, meta, url

In [9]:
con,meta,url = connect('postgres','**********','effis')

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:14: SADeprecationWarning: reflect=True is deprecate; please use the reflect() method.

In [10]:
con

Engine(postgresql://postgres:***@localhost:5432/effis)

In [11]:
for table in meta.tables:
    print table

admin_level_0_macroareas
spatial_ref_sys
admin_level_2
admin_definitions
effis_countries_t
admin_level_0_hres
macroareas
admin_level_3
admin_level_0
admin_level_1

In [12]:
results = meta.tables['macroareas']

for row in con.execute(results.select()):
    print row

(1, u'DEVELOPING', u'')
(2, u'CIS', u'')
(3, u'Transition', u'')
(4, u'OECD', u'')
(5, u'WBREGION', u'')
(6, u'WBINCOME', u'')
(7, u'WBDEBT', u'')
(8, u'WBOTHER', u'')
(9, u'CEEAC', u'')
(10, u'CEMAC', u'')
(11, u'CEPLG', u'')
(12, u'COMESA', u'')
(13, u'EAC', u'')
(14, u'ECOWAS', u'')
(15, u'IGAD', u'')
(16, u'IOC', u'')
(17, u'MRU', u'')
(18, u'SACU', u'')
(19, u'UEMOA', u'')
(20, u'UMA', u'')
(21, u'PALOP', u'')
(22, u'PARTA', u'')
(23, u'CACM', u'')
(24, u'EurAsEC', u'')
(25, u'Agadir', u'')
(26, u'SAARC', u'')
(27, u'ASEAN', u'')
(28, u'NAFTA', u'')
(29, u'GCC', u'')
(30, u'CSN', u'')
(31, u'CARICOM', u'')
(32, u'EU', u'')
(33, u'CAN', u'')
(34, u'ACP', u'')
(35, u'Landlocked', u'')
(36, u'AOSIS', u'')
(37, u'SIDS', u'')
(38, u'Islands', u'')
(39, u'LDC', u'')

In [14]:
# create SQLAlchemy engine for postgres
from sqlalchemy import create_engine
postgres_engine = create_engine(url)

In [15]:
%load_ext sql_magic
%config SQL.conn_name = 'postgres_engine'

In [16]:
# variables for use in SQL query
table_name = 'admin_level_0'
cols = ','.join(['id','name_en'])

In [20]:
%%read_sql df_result
SELECT {cols}
FROM {table_name}
-- WHERE name_en LIKE 'I%'

Query started at 10:11:50 AM CET; Query executed in 0.00 m

In [29]:
nazioni = %read_sql SELECT id,name_en FROM admin_level_0;

Query started at 10:14:25 AM CET; Query executed in 0.00 m

In [32]:
import pandas as pd
df_nazioni = pd.DataFrame(nazioni)

In [35]:
print df_nazioni.head(5)

    id        name_en
0   76  Faroe Islands
1   69          Egypt
2  109        Ireland
3  210        Somalia
4  158    Netherlands

In [1]:
%load_ext sql

In [4]:
%%sql postgresql://postgres:*********@localhost/effis
        select id,name_en,iso,iso2 from admin_level_0 LIMIT 10;

10 rows affected.

[(76, u'Faroe Islands', u'FRO', u'FO'),
 (69, u'Egypt', u'EGY', u'EG'),
 (109, u'Ireland', u'IRL', u'IE'),
 (210, u'Somalia', u'SOM', u'SO'),
 (158, u'Netherlands', u'NLD', u'NL'),
 (121, u'Kuwait', u'KWT', u'KW'),
 (252, u'Wallis and Futuna', u'WLF', u'WF'),
 (223, u'Switzerland', u'CHE', u'CH'),
 (207, u'Slovakia', u'SVK', u'SK'),
 (103, u'Hungary', u'HUN', u'HU')]

In [5]:
risultati = _

In [6]:
print (risultati)

+-----+-------------------+-----+------+
|  id |      name_en      | iso | iso2 |
+-----+-------------------+-----+------+
|  76 |   Faroe Islands   | FRO |  FO  |
|  69 |       Egypt       | EGY |  EG  |
| 109 |      Ireland      | IRL |  IE  |
| 210 |      Somalia      | SOM |  SO  |
| 158 |    Netherlands    | NLD |  NL  |
| 121 |       Kuwait      | KWT |  KW  |
| 252 | Wallis and Futuna | WLF |  WF  |
| 223 |    Switzerland    | CHE |  CH  |
| 207 |      Slovakia     | SVK |  SK  |
| 103 |      Hungary      | HUN |  HU  |
+-----+-------------------+-----+------+